.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
  height: 95vh;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px;
}
.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: blue;
  border-radius: 25px;
  border: 2px solid black;
}
.hexCode {
  border: 2px solid black;
  padding: 5px;
  border-radius: 15px;
  background-color: lightgrey;
}
h1 {
  text-align: center;
  border: 2px solid black;
  padding: 5px;
  width: 50%;
  border-radius: 15px;
  background-color: orange;
}
