.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: blue;
  border-radius: 25px;
  border: 2px solid black;
}
.DeleteButton {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: red;
  color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addColorButton {
  border-radius: 10px;
  background-color: green;
  color: white;
  width: 60%;
}
.inputText {
  width: 60%;
}
.inputColor {
  width: 60%;
}

h3 {
  text-align: center;
  border: 2px solid black;
  padding: 5px;
  width: 50%;
  border-radius: 15px;
  background-color: orange;
}
.hexCode {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 5px;
}
.editColor {
  width: 60%;
  border-radius: 10px;
}
.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editButton {
  background-color: orange;
  color: white;
  border-radius: 10px;
  margin-top: 5px;
}
